## Scrape filpkart website and  fetch details 
Name of the product,price and ratings of the product...

In [124]:
## building scrappers which looks for errors also..
import requests as response
from bs4 import BeautifulSoup as soup
url="https://www.flipkart.com/mobiles/pr?sid=tyy%2C4io&param=7564&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InRpdGxlIjp7Im11bHRpVmFsdWVkQXR0cmlidXRlIjp7ImtleSI6InRpdGxlIiwiaW5mZXJlbmNlVHlwZSI6IlRJVExFIiwidmFsdWVzIjpbIlNob3AgTm93Il0sInZhbHVlVHlwZSI6Ik1VTFRJX1ZBTFVFRCJ9fX19fQ%3D%3D&otracker=clp_metro_expandable_1_3.metroExpandable.METRO_EXPANDABLE_Shop%2BNow_mobile-phones-store_Q1PDG4YW86MF_wp2&fm=neo%2Fmerchandising&iid=M_30199dbb-60d6-43fb-bd27-4821f8e573a1_3.Q1PDG4YW86MF&ppt=hp&ppn=homepage&ssid=dx9lb7york0000001667311760268&page=2"
##https://www.flipkart.com/mobiles/pr?sid=tyy%2C4io&param=7564&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InRpdGxlIjp7Im11bHRpVmFsdWVkQXR0cmlidXRlIjp7ImtleSI6InRpdGxlIiwiaW5mZXJlbmNlVHlwZSI6IlRJVExFIiwidmFsdWVzIjpbIlNob3AgTm93Il0sInZhbHVlVHlwZSI6Ik1VTFRJX1ZBTFVFRCJ9fX19fQ%3D%3D&otracker=clp_metro_expandable_1_3.metroExpandable.METRO_EXPANDABLE_Shop%2BNow_mobile-phones-store_Q1PDG4YW86MF_wp2&fm=neo%2Fmerchandising&iid=M_30199dbb-60d6-43fb-bd27-4821f8e573a1_3.Q1PDG4YW86MF&ppt=hp&ppn=homepage&ssid=dx9lb7york0000001667311760268&page=2

**Response 2## the given link can read with no problem   Response 4## forbidden and does't given any link     Response 5## server is not ready**

In [85]:
page= response.get(url)
page

## Parse The Code using HTML Parser

In [125]:
import pandas as pd
def dataframe(url):
    page= response.get(url)
    soup1 = soup(page.text, "html.parser")
    mobiles=[]
    ratings=[]
    price=[]
    for th in soup1.findAll('div',{'class':'_4rR01T'}):
        mobiles.append(th.text.strip())
    for th in soup1.findAll('div',{'class':'_30jeq3 _1_WHN1'}):
        price.append(th.text)
    for th in soup1.findAll('div',{'class':'_3LWZlK'}):
        ratings.append(th.text.strip())
    ratings=ratings[:24] ## used for equal lengths .......
    data={'Mobile_Name':mobiles,'Rating':ratings,'Price':price}
    df=pd.DataFrame(data)
    return df

In [139]:
df=pd.DataFrame()
for i in range(10):
    url="https://www.flipkart.com/mobiles/pr?sid=tyy%2C4io&param=7564&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InRpdGxlIjp7Im11bHRpVmFsdWVkQXR0cmlidXRlIjp7ImtleSI6InRpdGxlIiwiaW5mZXJlbmNlVHlwZSI6IlRJVExFIiwidmFsdWVzIjpbIlNob3AgTm93Il0sInZhbHVlVHlwZSI6Ik1VTFRJX1ZBTFVFRCJ9fX19fQ%3D%3D&otracker=clp_metro_expandable_1_3.metroExpandable.METRO_EXPANDABLE_Shop%2BNow_mobile-phones-store_Q1PDG4YW86MF_wp2&fm=neo%2Fmerchandising&iid=M_30199dbb-60d6-43fb-bd27-4821f8e573a1_3.Q1PDG4YW86MF&ppt=hp&ppn=homepage&ssid=dx9lb7york0000001667311760268&page={}".format(i)
    df=df.append(dataframe(url))

In [141]:
df.describe()

                          Mobile_Name Rating    Price
count                             240    240      240
unique                            180     12       86
top     realme C30 (Lake Blue, 32 GB)    4.3  ₹11,999
freq                                4     61       20